<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Logger\Monolog" type="Training\Basics\Logger\Log"/>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="alterPrice" type="Training\Basics\Plugin\AlterPrice" sortOrder="100"/>
        <plugin name="alterValidate" type="Training\Basics\Plugin\AlterValidate" sortOrder="100"/>
    </type>
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="alterQty" type="Training\Basics\Plugin\AlterQty" sortOrder="100"/>
    </type>
</config>